.bottom-nav {
  position: absolute;
  bottom: 0;
  right: 0;

  margin: 20px;

  display: flex;
  flex-direction: row-reverse;
}

.bottom-nav__link {
  color: black;
  font-size: 50px;
  text-decoration: none;

  padding-left: 20px;
}

.bottom-nav__link:hover {
  color: #333333;
}
