.floor-tile {
    position: absolute;
    width: 200px;
    transform-style: preserve-3d;
    transform: translateX(-45px) translateZ(45px);
    transition: transform 0.25s ease-out;

    cursor: pointer;
}

.floor-tile:hover {
    transform: translateX(-45px) translateZ(45px) translateY(-10px);
}

.floor-tile:hover .floor-tile__face--top {
    background-color: #75ccf4;
}

.floor-tile__face {
    position: absolute;
    width: 90px;
    height: 90px;
}

.floor-tile__face--top {
    background-color: #32ADE5;

    transform: rotateX(-90deg);
    transform-origin: top center;
}

.floor-tile__face--left {
    background-color: #2B94C4;
    height: 20px;

    transform-origin: center left;
}

.floor-tile__face--right {
    background-color: #37BDFA;
    height: 20px;

    transform: rotateY(90deg) translateX(90px);
    transform-origin: top right;
}
