/*primary orange: #f0a22e*/
/*bg light: #fcecd5*/

.article {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50px;
  right: 0;

  overflow-x: hidden;
  overflow-y: scroll;

}

.article__content {
  /*background-color: #222;*/
  background-color: white;

  padding: 20px;
  margin: 20px 250px 20px 0;

  animation-name: article-slide-right;
  animation-duration: 0.5s;
}

.article__content:nth-child(even) {
  animation-name: article-slide-left;
  margin: 20px 0 20px 250px;
}

.article__columns {
  display: flex;
  flex-direction: row;
}

.article__column {
  flex: 1;
}

.article__column--description {
  flex: 2;
  margin-right: 20px;
}

.skill-table {
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 2em;
}

.skill-table td {
  padding: 5px;
  padding-left: 2em;
}

.skill-table th {
  font-size: 1.2em;
  font-weight: normal;
  text-align: left;
}

.skill-table tbody tr:nth-child(odd) {
  background-color: #fcecd5;
}

td.skill-table__rating, th.skill-table__rating {
  text-align: right;
}

.skill-table__star--unfilled {
  color: #ccc;
}

@keyframes article-slide-right {
    0% {
      z-index: -1;
      transform: translate(-20em, 0);
      opacity: 0;
    }
    1% {
      z-index: 1;
    }
    100% {
      opacity: 1;
    }
}

@keyframes article-slide-left {
    0% {
      z-index: -1;
      transform: translate(20em, 0);
      opacity: 0;
    }
    1% {
      z-index: 1;
    }
    100% {
      opacity: 1;
    }
}
