.sidebar-nav {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;

  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;

  z-index: 1;

  width: 0;
  padding-right: 50px;
  transition: all 0.25s;
}

.sidebar-nav__opened {
  width: 350px;
  padding: 0;
}

.sidebar-nav__item {
  color: white;
  height: 50px;
  line-height: 50px;
  width: 350px;
  font-weight: bold;

  transition: all 0.25s;

  z-index: 1;
}

.sidebar-nav__item:first-child {
  margin-top: 0;
}

.sidebar-nav__item:hover {
  background-color: white;
  color: black;
  transform: translateX(10px);
}

.sidebar-nav__item-label {
  padding: 0 10px;
  text-transform: uppercase;
}

.sidebar-nav__mask {
  background-color: black;

  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  z-index: 0;
}

.sidebar-nav__opened .sidebar-nav__toggle {
  transform: rotate(90deg);
}

.sidebar-nav__toggle {
  position: absolute;
  top: 0;
  right: 0;

  color: #cccccc;
  cursor: pointer;
  height: 50px;
  font-size: 30px;
  text-align: center;
  line-height: 50px;
  padding: 0 10px;

  transform: rotate(-90deg);

  z-index: 1;
}

.sidebar-nav__toggle:hover {
  color: white;
}
