.portfolio-header {
  color: white;
  text-align: center;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  animation-name: text-fade-in-and-slide;
  animation-duration: 1s;
  animation-delay: 4s;
  animation-direction: reverse;
  animation-fill-mode: forwards;

  z-index: 1;
}

.portfolio-header__title {
  animation-name: text-fade-in-and-slide;
  animation-duration: 1s;

  font-size: 32px;
}

.portfolio-header__name {
  animation-name: text-fade-in-and-slide;
  animation-duration: 1s;

  animation-delay: 1s;
  animation-fill-mode: forwards;
  
  margin: 0;
  opacity: 0;
  display: inline-block;
}

.portfolio-header__tagline {
  animation-name: text-fade-in-and-slide;
  animation-duration: 1s;

  animation-delay: 2s;
  animation-fill-mode: forwards;
  
  margin: 0;
  opacity: 0;
  display: inline-block;

  font-size: 24px;
}

@keyframes text-fade-in-and-slide {
    0% {
      z-index: -1;
      transform: translate(0, 20px);
      opacity: 0;
    }
    1% {
      z-index: 1;
    }
    100% {
      opacity: 1;
    }
}